<div class="comp-horizontal-first">
  <div id="add-top-component">+</div>
  <div id="body-form-top">
    <%= form_for :anything, remote: true, url: 'components' do |f| %>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'component-editor' %>
      </div>
      <div class="field">
        <%= f.hidden_field :position, :value => 1 %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class="comp-horizontal-second">
  <div id="add-bottom-component">+</div>
  <div id="body-form-bottom">
    <%= form_for :anything, remote: true, url: 'components' do |f| %>
        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'component-editor' %>
        </div>
        <div class="field">
          <%= f.hidden_field :position, :value => 2 %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
  </div>
</div>
