<div class="comp-vertical-first col-md-6">
  <div id="add-left-component">+</div>
  <div id="body-form-left">
    <%= form_for :anything, remote: true, url: 'widgets' do |f| %>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'component-editor' %>
      </div>
      <div class="field">
        <%= f.hidden_field :position, :value => 1 %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<div class="comp-vertical-second col-md-6">
  <div id="add-right-component">+</div>
  <div id="body-form-right">
    <%= form_for :anything, remote: true, url: 'widgets' do |f| %>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'component-editor' %>
      </div>
      <div class="field">
        <%= f.hidden_field :position, :value => 2 %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
